@{
    ViewBag.Title = "Austin Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Not a Microsoft Joke<br />
    I promise<br />
    <abbr title="Phone">P:</abbr>
    <span class="glyphicon glyphicon-earphone"></span>
    911
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:ac554215@ohio.edu">ac554215@ohio.edu</a><br />
    <strong>Marketing:</strong> <a href="mailto:austinmarketing@ohio.edu">austinmarketing@ohio.owo</a>
</address>