@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Nugget</h1>
    <p>ASP.NET </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>The Cat</h2>
        <p>
            This is a cat and she is very loud, her name is nugget.
        </p>
    </div>
    <div class="col-md-4">
        <h2>More Nugget</h2>
        <p>What a cutie</p>
    </div>
    <div class="col-md-4">
        <h2>Additional Cat</h2>
        <p>Here is more about the cat.</p>
    </div>
</div>